GEMINI_API_KEY=your_actual_api_key_here
GEMINI_API_MODEL=your_actual_api_model_here
GEMINI_API_TEMPERATURE=your_actual_api_model_temperature_here
GEMINI_API_MAX_RETRIES=your_actual_api_retries_here

OPENAI_API_KEY=your_actual_api_key_here
OPENAI_API_MODEL=your_actual_api_model_here
OPENAI_API_TEMPERATURE=your_actual_api_model_temperature_here
OPENAI_API_MAX_RETRIES=your_actual_api_retries_here